.cookies-consent-container {
  position: fixed;
  bottom: 0vh;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #0f0f0f;
  padding: 1.425rem;
  width: 100%;
  overflow-x: hidden;
  transition: all linear 1s;
}

.cookies-consent-text {
  font-size: small;
  font-family: Muli, sans-serif;
}

.cookies-consent-text--span span {
  display: inline-block;
}

.cookies-title {
  font-size: medium;
}

.cookies-title,
.cookies-cta,
.cookies-cta-inline {
  transition: all linear 0.6s;
}

.cookies-title,
.cookies-cta {
  font-weight: 600;
}

.cookies-cta,
.cookies-cta-inline {
  cursor: pointer;
}

.cookies-cta {
  border-radius: 20px;
  padding: 10px 15px;
}

.cookies-cta-inline {
  border: 0;
  padding-bottom: 3px;
  border-bottom: 2px solid #e8ac17;
}

.cookies-cta-inline.cookie-policy {
  margin: 0 0 0 3px;
}

.cookies-cta--learn {
  background-color: #555;
}

.cookies-cta--accept {
  background-color: #e8ac17;
}

.cookies-cta--learn:hover {
  background-color: #1f1c1c;
}

.cookies-cta--accept:hover {
  background-color: #ce9505;
}

@media screen and (min-width: 768px) {
  .cookies-consent-container {
    padding: 1.625rem;
  }

  .cookies-cta {
    padding: 14px 34px;
  }

  .cookies-consent-text--span span {
    display: inline;
  }
}