.info-container {
  font-family: "Raleway", sans-serif;
  width: 100%;
  border: 1px solid #e8ac17;
  color: #e8ac17;
  background-color: #faeed1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  overflow-x: hidden;
  transition: all linear 1s;
  padding: 1rem;
  margin: auto;
}

.info-text {
  font-size: small;
}

.close-btn {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  text-align: right;
  float: right;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .info-container {
    width: 90%;
    position: fixed;
    top: 2vh;
    left: 0;
    right: 0;
    padding: 1.425rem;
  }

  .info-text {
    font-size: large;
  }
}

@media screen and (min-width: 769px) {
  .info-container {
    width: 65%;
    position: fixed;
    top: 3vh;
    left: 0;
    right: 0;
    padding: 1.425rem;
  }

  .info-text {
    font-size: large;
  }
}