.app-container {
  background: url("../../components/AppContainer/assets/img/bg-mobile-fallback.jpg") #262626 no-repeat center center scroll;
  background-size: cover;
}

.title-text {
  font-weight: 700;
  font-style: italic;
  color: #e8ac17;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  margin: 0;
}