/**
 *
 * GENERAL STYLES
 *
 */

* {
  margin: 0;
  padding: 0;
  /* Remove margins and paddings on elements */
  box-sizing: border-box;
  /* Generate paddings inside elements */
  outline: none;
  -webkit-tap-highlight-color: none;
  /* Highlight color when a button is tapped */
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div:focus,
input:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #e8ac17;
  border-radius: 10px;
}

::-moz-selection {
  background: #faeed1;
  color: #e8ac17;
  text-shadow: 1px 1px 1px #555;
  font-weight: 500;
}


::-webkit-selection {
  background: #faeed1;
  color: #e8ac17;
  text-shadow: 1px 1px 1px #555;
  font-weight: 500;
}


::-o-selection {
  background: #faeed1;
  color: #e8ac17;
  text-shadow: 1px 1px 1px #555;
  font-weight: 500;
}


::-ms-selection {
  background: #faeed1;
  color: #e8ac17;
  text-shadow: 1px 1px 1px #555;
  font-weight: 500;
}

::selection {
  background: #faeed1;
  color: #e8ac17;
  text-shadow: 1px 1px 1px #555;
  font-weight: 500;
}


input::placeholder,
textarea::placeholder {
  font-style: italic;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  font-weight: 100;
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: Muli, sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

/* Custom fonts for Yellow Girlfriend  */

@font-face {
  font-family: Mulish;
  src: local('Mulish'), url('./components/AppContainer/assets/fonts/mulish/Mulish-Italic-VariableFont_wght.ttf') format('truetype');
}


@font-face {
  font-family: Raleway;
  src: local('Raleway'), url('./components/AppContainer/assets/fonts/raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Muli');